body {
    color: black;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding-left: 3em;
    font-family: 'BhuTuka Expanded One', cursive;

}
h1 {
    color: black;
    font-family: 'Brush Script MT';
    text-align: center;
    font-size: 250%;
    /*font-family: 'Dancing Script', cursive;*/
    /*font-family: 'Shadows Into Light', cursive;*/
}

h4{
    color: black;
    font-family: Arial;
    font-size: 100%;
}

#dados{
    width: 200px;
    height: 200px;
    text-align: center;
}

#foto{
    height: 250px;
    width: 250px;
    text-align: center;
}
#texto{
    font-size: large;
    font-family: Georgia;
}